/* preloader
#preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: #ffffff url('./eclipse.gif') no-repeat center center;
  }
/*


/* giving margin top to timetable in index.html */

.con-tt, .con-syll {
    margin-top: 4%;
}

/* giving colour to icons of footer */
.fas {
    color: white;
}
/* giving top margin to the notes container */
.con-notes {
    margin-top: 4%;
}

/* giving top margin to the notes2,3,4,5,6 classes */
@media only screen and (max-width: 500px) {
    .notes2, .notes3 {
        margin-top: 4%;
        margin-bottom: 4%;
        margin-left: 3%;
    }
  }

@media only screen and (max-width: 500px) {
    .notes1, .notes4, .notes5, .notes6 {
        margin-left: 3%;
    }
}

.notes4, .notes5, .notes6 {
    margin-top: 4%;
    margin-bottom: 4%;
}
/* to create zoom effect overflow is hidden so that the pic doesnt move outside card*/
.inner {
    overflow: hidden;
}

.inner img {
    transition: all 1.5s ease;
}

.inner:hover img {
    transform: scale(1.5);
}

/* styling the events page */


/* position text in the middle */

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* text on events page */

h1 {
    font-size: 40px;
    letter-spacing: 30px;
    font-weight: 100;
}
/* id on events.html */

#demo {
    font-weight: lighter;
    word-spacing: 20px;
}

/* id on events.html */

hr {
    margin: auto;
    width: 80%;
    border: 1.5px solid #ffffff;
}

/* contribute page  */

.contri, .about {
    margin-top: 4%;
    margin-bottom: 4%;
}

/* contribute page icons  */

.fa-linkedin, .fa-github, .fa-instagram {
    font-size: 2.5em;
}


.page-footer-syll, .page-footer-notes {
    position: relative;
    padding: 0%;
    bottom: 0%;
}